.ipynb_checkpoints
arg_def_15_21.csv
informacion-publica-respiratorias-nacional-hasta-20210902.csv
informacion-publica-respiratorias-nacional-hasta-20210902.xlsx
informacion-publica-respiratorias-nacional-hasta-20220309.xlsx
informacion-publica-respiratorias-nacional-hasta-20230706.csv
vigilancia-respiratorias-agudas-2018-hasta-20200106.csv